@font-face {
    font-family: FuturaMedium;
    src: url(Futura-Med.otf);
  }

  @font-face {
    font-family: BaxterBold;
    src: url(BaxterSans-Bold.otf);
  }


.title, .subtitle, .comingsoon{
    font-family: FuturaMedium;
    color: white;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;
}

.title{
text-align: center;
font-size: 3.5vw;
}

.subtitle{
    font-size: 3.9vw;

}

.address{
    font-family: BaxterBold;
    text-align: center;
    color: white;
    font-size: 9.5vw;
    margin-top: -2vw

}

.comingsoon{
    font-size: 3vw;

    margin-top: 2vw;

}

.textcontainer{

    padding-top: 20%;

}

html{
    background-image: url(background.jpg);
    background-repeat: no-repeat;

  background-blend-mode: multiply;
  background-size:cover;
}

body{
    background-color: rgb(41,63,140,0.9); /* Tint color */
    margin: 0;
}
html, 
body {
    height: 100%;
}